dist-client/
dist-server/
node_modules/
logs/
attachments/
licenses/
yarn*.*
package-lock.json
db.sqlite
ormconfig.js
config.development.*
config.production.*
.DS_Store
.vscode
.pid
db.sqlite-journal
nohup.out
config.development.js
config.production.js